<div class="mt-4">
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Level</th>
                    <th scope="col">Time</th>
                </tr>
            </thead>
            <tbody>
                {{#each courses}}
                <tr>
                    <th scope="row">{{ sum @index 1 }}</th>
                    <td>{{this.name}}</td>
                    <td>{{this.level}}</td>
                    <td>{{this.createdAt}}</td>
                    <td>
                        <a href="/me/{{this._id}}/edit" class="btn btn-link">Edit</a>
                        <a href="" class="btn btn-link">Delete</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>